body {
  font-family: "Roboto";
  font-style: normal;
  color: #434455;
  font-weight: 400;
}

.list {
  list-style: none;
}

.primery-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.secondary-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 17;
  color: #2e2f42;
}

.navigation {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.navigation-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.navigation-item:hover,
.navigation-item:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-item {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #434455;
  letter-spacing: 0.02em;
}
.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}

.name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.our-skills {
  background-color: #2e2f42;
}
.btn {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.btn:focus {
  color: #404bbf;
}
.goal {
}
.goal-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #434455;
}

.name-section {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5;
  color: #e7e9fc;
}
.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 16;
  color: #f4f4fd;
}
